
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  font-family: 'Quicksand', 'Roboto', 'Open+Sans';
}
input,button,textarea{font-family:inherit;}



input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
  overflow: hidden;
  min-width: 1440px;
  display: flex;
  flex-direction: column;
  
}

._container {
 
  
  min-width: 958px;
  margin: 0 auto;
  box-sizing: content-box;
  text-align: center;
}

@media(max-width: 960px){
  ._container{
    min-width: 300px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

}

/*------------------------------------------*/
.header {
  display: inline-flex;
  padding: 0 8.125%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
  min-width: 100%;
  background: #fff;
  border-bottom: 1px solid #D8E3FE;
}

@media (max-width: 1280px) {
  .header{
    padding: 0 7.8%;
}
}



.header__container-menu {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  min-height: 80px;
}

._list {
  display: flex;
 
}

.header__logo {
  height: 26px;
  margin-right: 72px;
}



@media (max-width: 1280px) {
  .header__logo{
    margin-right: 52px;
}
}

@media (max-width: 768px) {
  .header__logo{
    margin-right: 40px;
}
}

.menu {
  padding: 5px 0;
}

@media(min-width:851px){
  .menu__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__item:not(:first-child) {
  margin: 0 0 0 42px;
}

@media (max-width: 1280px) {
  .menu__item:not(:first-child) {
    margin: 0 0 0  20px;
  }
  
}

@media (max-width: 850px) {
  .menu__item:first-child {
    margin-left: 20px;
    
  }
  
}





.menu__link {
  color: #697CA6;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(15 / 12 * 100%);
  align-items: center;
  text-align: center;
}



.active {
  color: #5E81FE;

}

/*---------ВЫПАДАЮЩЕЕ МЕНЮ----------------------------------------------------------------------*/
.menu__list  .icon {
  display: none;
}

@media(max-width: 850px) {
  .menu__list  a {display: none;}
  .menu__list  a.icon {
    position: absolute;
    left: 74px;
    top: 33px;
    display: block;
  }
}

.menu__list  .icon {
  display: none;
}

@media(max-width: 850px) {
  .menu__list  a {display: none;}
  .menu__list  a.icon {
    position: absolute;
    left: 74px;
    top: 33px;
    display: block;

  }
}

@media (max-width: 850px) {
  .menu__list.responsive {
    position: absolute;
    top: 80px;
    width: 100vw;
    background: #fff;
    left: -10px;
    margin-left: -58px;
    padding: 0 40vw;
  }
  .menu__list.responsive .icon {
    position: absolute;
    left: 142px;
    top: -47px;

  }
  .menu__list.responsive .menu__link{
    float: none;
    display: block;
    text-align: left;
    padding: 10px;
}
}
/*----------------------------------------------------------------------------------------------*/


.header__container-contacts {
  position: absolute;
  right: 0;
  margin: 0 13vw 0 0;
  display: flex;
  min-height: 80px;
  align-items: center;
  min-width: 319px;

}

@media (max-width: 1280px) {
  .header__container-contacts {
    margin: 0 10vw 0 0;
  }
  .contact__item:last-child {
    margin: 0 0 0 -1.5px;
  }
  
  .contact__item:first-child {
    position: relative;
    top: 1px;
  }
  
}

.header__contacts {
  margin: 0 0 0 33.5%;
}



@media (max-width: 1280px) {
  .header__contacts{
    margin: 0 0 0 24%;
}
}

@media (max-width: 768px) {
  .header__contacts{
    margin: 0 0 0 100px;
}
}

@media (max-width: 640px) {
  .header__contacts{
    display: none;
}
}
.contacts {
  padding: 5px 0;
}
.contacts__list {
}

.contact__item:not(:last-child) {
  margin: 0 35px 0 0;
}
.contact__item:last-child {
  margin: 0 0 0 -1.5px;
}

.contact__item:first-child {
  position: relative;
  top: 1px;
}

.contact__item {
  position: relative;
  top: 3px;

}


@media (max-width: 1280px) {
  .contact__item:not(:last-child) {
    margin: 0 27px 0 0;
  }
  .contact__item:last-child {
    margin: 0 0 0 -1.5px;
  }
  
  .contact__item:first-child {
    position: relative;
    top: 1px;
  }
  
}


.contact__logo {
}
.header__button {
  margin: 0 0 0 3.05%;

}
.button {
  margin-left: 44px;
  display: block;
  min-height: 43px;
  min-width: 113px;
  align-items: center;
  text-align: center;
  border-radius: 2px;
  background: #D2E1FF;
  padding: 13px 16px 13px 15px;
  color:#3A79FF;
  font-weight: 700;
  font-family: Quicksand;
  font-style: normal;
  font-size: 13px;
}

@media (max-width: 640px) {
  .button{
    margin-left: 270px;
}
}

/*------MAIN---------------------------------------------*/

.page {
  
  margin: 0 auto;
  flex: 1 1 auto;
  width: 1440px;  /*!!!!!!!!!!!!!!!!!!!!!*/
}



.page__main-block {
  
  
}
.main-block {
  
  position: relative;
  
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}

@media (max-width: 1440px) {
  .main-block{
    width: 100vw;
}
}

.main-block__container {
    position: relative;
    
  
}

/*----------  проработать адаптив текста  -----------------------------------------------------*/

.main-block__body {
  
  position: relative;
  margin: 80px auto 0 ;
  z-index: 2;
  height: 570px;
}

.body__container{
  max-width: 583px;
  margin: 0 auto;
}

@media(max-width:768px){
  .body__container{
    width: 450px;
  }
}

@media(max-width:640px){
  .body__container{
    width: 400px;
  }
}

@media(max-width:480px){
  .body__container{
    width: 320px;
  }
}

.main-block__comment {

  padding-top: 92px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10 * 100%);
  color: #3D4F9F;
}
.main-block__title {
  margin-top: 16px;
  font-family: Quicksand;
  font-weight: 300;
  font-size: 48px;
  line-height: calc(60 / 48 * 100%);
  color: #3D4F9F;
}

@media(max-width:768px){
  .main-block__title{
    font-size: 36px;
  }
}

@media(max-width:640px){
  .main-block__title{
    font-size: 32px;
  }
}

@media(max-width:480px){
  .main-block__title{
    font-size: 26px;
  }
}

.main-block__title .txtt {
  font-weight: 500;
}

.main-block__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: calc(29 / 15 *100%);
  margin: 28px auto 0;
  color: #8D96BD;
  letter-spacing: 0.03em;
  max-width: 480px;
  
}

@media(max-width:768px){
  .main-block__text{
    font-size: 14px;
    line-height: calc(29 / 14 *100%);
  }
}

@media(max-width:640px){
  .main-block__text{
    font-size: 12px;
    line-height: calc(29 / 12 *100%);
  }
}


@media(max-width:480px){
  .main-block__text{
    font-size: 9px;
    line-height: calc(29 / 9 *100%);
  }
}

.play_btn {
  position: relative;
  margin-top: -30px;
}
 /*------------------------------------------------------------*/
.main-block__image {
    z-index: 3;
    position: relative;
    
    min-width: 1440px;
    height: 340px;
    top: 235px;
    left: 0;
    object-fit: cover;
}

.main-block__image .gradient {
  height: 347px;
  position: absolute;
  top: -5px;
  left: 0;
}

@media (max-width: 1440px) {
  .main-block__image .gradient{
    width: 100vw;
}
}

@media (max-width: 1280px) {
  .main-block__image .gradient{
    width: 100vw;
    height: 327px;
    position: absolute;
    top: 20px;
}
}

@media (max-width: 1024px) {
  .main-block__image .gradient{
    width: 100vw;
    height: 297px;
    position: absolute;
    top: 40px;
}
}

@media(max-width:768px){
  .main-block__image .gradient{
    width: 100vw;
    height: 260px;
    position: absolute;
    top: 60px;
  }
}

@media(max-width:640px){
  .main-block__image .gradient{
    width: 100vw;
    height: 200px;
    position: absolute;
    top: 80px;
  }
}



.main-block__image .vector {
  height: 309px;
  width: 1440px;
  position: absolute;
  top: -5px;
  left: 0px;
}


@media (max-width: 1440px) {
  .main-block__image .vector{
    width: 100vw;
    height: 309px;
}

}

@media (max-width: 1280px) {
  .main-block__image .vector{
    width: 100vw;
    height: 289px;
    position: absolute;
    top: 20px;
}

}

@media (max-width: 1024px) {
  .main-block__image .vector{
    width: 100vw;
    height: 260px;
    position: absolute;
    top: 40px;
}

}

@media(max-width:768px){
  .main-block__image .vector{
    width: 100vw;
    height: 230px;
    position: absolute;
    top: 60px;
  }
}

@media(max-width:640px){
  .main-block__image .vector{
    width: 100vw;
    height: 176px;
    position: absolute;
    top: 80px;
  }
}


.container_image {
  overflow: hidden;
  border-bottom: 1px solid #D8E3FE;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 570px;
}

.ellips1 {
  position: absolute;
  left: 101px;
  bottom: 10px;
  z-index: 2;
}

@media (max-width: 1440px) {
  .ellips1{
    left: 7.01vw;
}
}

@media (max-width: 1280px) {
  .ellips1{
    left: 7.01vw;
    bottom: 5px;
}
}

@media (max-width: 1024px) {
  .ellips1{
    left: 7.01vw;
    bottom: 13px;
}
}
@media (max-width: 768px) {
  .ellips1{
    left: 7.01vw;
    bottom: 22px;
}
}

@media (max-width: 640px) {
  .ellips1{
    left: 7.01vw;
    bottom: 55px;
}
}

.ellips2 {
  position: absolute;
  left: 509px;
  bottom: -13px;
  z-index: 2;
}

@media (max-width: 1440px) {
  .ellips2{
    left: 35.35vw;
}
}

@media (max-width: 1280px) {
  .ellips2{
    left: 31.35vw;
    bottom: -24px;
}
}

@media (max-width: 1024px) {
  .ellips2{
    left: 29vw;
    bottom: -21px;
}
}

@media (max-width: 768px) {
  .ellips2{
    left: 22.01vw;
    bottom: -14px;
}
}

@media (max-width: 640px) {
  .ellips2{
    left: 22.01vw;
    bottom: 13px;
}
}

.ellips3 {
  position: absolute;
  left: 905px;
  bottom: 72px;

  z-index: 2;
}

@media (max-width: 1440px) {
  .ellips3{
    left: 62.85vw;
}
}

@media (max-width: 1280px) {
  .ellips3{
    left: 64.5vw;
    bottom: 55px;
}
}

@media (max-width: 1024px) {
  .ellips3{
    left: 65.5vw;
    bottom: 48px;
}
}

@media (max-width: 768px) {
  .ellips3{
    left: 67.5vw;
    bottom: 42px;
}
}

@media (max-width: 640px) {
  .ellips3{
    left: 65.5vw;
    bottom: 44px;
}
}

.ellips4 {
  position: absolute;
  left: 1326px;
  bottom: 150px;
  z-index: 2;
}

@media (max-width: 1440px) {
  .ellips4{
    left: 92.08vw;
}
}

@media (max-width: 1280px) {
  .ellips4{
    left: 92.08vw;
    bottom: 126px;
}
}

@media (max-width: 1024px) {
  .ellips4{
    left: 90.08vw;
    bottom: 100px;
}
}

@media (max-width: 768px) {
  .ellips4{
    left: 87.08vw;
    bottom: 74px;
}
}

@media (max-width: 640px) {
  .ellips4{
    left: 87.08vw;
    bottom: 60px;
}
}
/*-----------ellips--------------------------------------*/
.sec_ellips1 {
  position: absolute;
  width: 149px;
  height: 76px;
  left: -74.5px;
  bottom: 318px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
@media (max-width: 640px) {
  .sec_ellips1 {
    left: -95.5px;
  }
}
.sec_ellips2 {
  position: absolute;
  width: 45px;
  height: 23px;
  left: 254px;
  bottom: 455px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips3 {
  position: absolute;
  width: 49.64px;
  height: 24.82px;
  left: 262.27px;
  bottom: 149px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips4 {
  position: absolute;
  width: 23.44px;
  height: 11.95px;
  left: 254px;
  bottom: 159px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips5 {
  position: absolute;
  width: 19.78px;
  height: 10.18px;
  left: 308.22px;
  bottom: 173.8px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips6 {
  position: absolute;
  width: 32.63px;
  height: 16.55px;
  left: 295.37px;
  bottom: 149px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips7 {
  position: absolute;
  width: 103.47px;
  height: 51.81px;
  left: 1086px;
  bottom: 41px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}

.sec_ellips8 {
  position: absolute;
  width: 68.02px;
  height: 34.54px;
  left: 1172px;
  bottom: 41px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips9 {
  position: absolute;
  width: 47.37px;
  height: 24.08px;
  left: 1159px;
  bottom: 80.9px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips10 {
  position: absolute;
  width: 31px;
  height: 16px;
  left: 1209px;
  bottom: 517px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips11 {
  position: absolute;
  width: 77.81px;
  height: 39px;
  left: 1225px;
  bottom: 478px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips12 {
  position: absolute;
  width: 45px;
  height: 23px;
  left: 1258px;
  bottom: 461px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}
.sec_ellips13 {
  position: absolute;
  width: 111px;
  height: 55px;
  left: 1385px;
  bottom: 108px;
  background: #FFFFFF;
  box-shadow: 0px 5px 45px rgb(151 175 227 / 10%);
  border-radius: 58% 50% 0 0 / 100% 100% 0 0;
  z-index: 2;
}

@media (max-width: 1440px) {
  .sec_ellips13 {
    left: 95vw;
}
  .sec_ellips12 {
    left: 87.36vw;
}
  .sec_ellips11 {
    left: 85.07vw;
}
  .sec_ellips10 {
    left: 83.96vw;
}
  .sec_ellips9 {
    left: 80.49vw;
}
  .sec_ellips8 {
    left: 81.39vw;
}
  .sec_ellips7 {
    left: 75.42vw;
}
  .sec_ellips6 {
    left: 20.49vw;
  }
  .sec_ellips5 {
    left: 21.39vw;
  }
  .sec_ellips4 {
    left: 17.64vw;
  }
  .sec_ellips3 {
    left: 18.19vw;
  }
  .sec_ellips2 {
    left: 17.64vw;
  }

}

/*---------------------------------------------------------*/

/*--------CONTACTS-INFO------------------------------------*/

.main-block__contacts {
  position: absolute;
  height: 145px;
  width: 100%;
  padding: 58px 17%;
  border-bottom: 1px solid #D8E3FE;
  
}



@media (max-width: 1280px) {
  .main-block__contacts {
    padding: 58px 10vw;
  }
}




.duo-contacts_list {
  display: flex;
  
  
}


@media (max-width: 1024px) {


  .duo-contacts_list{
    display: flex;
    justify-content: center;
  }
  .duo-contacts_list .c-link{
    display: block;
    width: 2%;
    height: 50px;

  }
}

@media (max-width: 768px) {
  .main-block__contacts {
    padding: 31px 0 0 0%;
  }
  .duo-contacts_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }
  .duo-contacts_list .c-link{
    display: block;
    width: 20vw;
    height: 50px;

  }
}

@media (max-width: 640px) {
  .main-block__contacts {
    padding: 31px 0 0 0%;
  }
  .duo-contacts_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
  }
  .main-block__contacts {
    padding: 31px 0 0 0%;
  }
  .duo-contacts_list .c-link{
    display: block;
    width: 20vw;
    height: 50px;

  }
}


.contact:not(:last-child) { /*______!______-*/
  margin: 0 76.5px 0 0;
}

.contact:nth-child(4) { /*______!______-*/
  margin: 0 75.5px 0 0;
}


.contact:not(:first-child):not(:last-child) {
  margin-top: 3px;
}

.contact:last-child {
  margin-top: 0px;
}

@media (max-width: 1050px) {
  

  
  .contact:not(:last-child) { /*______!______-*/
    margin: 0 7% 0 0;
}
}


/*---------------------------------------------------------*/

/*--------APPS-INFO----------------------------------------*/
.main-block__apps-info {
  display: flex;
  position: absolute;
  top: 145px;
  left: 0;
  width: 100%;
  height: 776px;
  background: #F5F8FF;
  border-bottom: #D8E3FE;
}
.apps-info {
}
.apps-info__body {
  width: 1200px;
  position: absolute;
  top: 208px;
  left: 18.81%;
  display: flex;
  flex-wrap: wrap;
}

.body__text-container{
  float: left;
  max-width: 413px;
  height: 352px;
  text-align: left;
}



.apps-info__comment {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: calc(12 / 10 * 100%);
  
  color: #3D4F9F;

}

.apps-info__title {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: calc(45 / 36 * 100%);
  color: #3D4F9F;
  margin: 27px 0;
}

.apps-info__title > .txtt{
  font-weight: normal;
}

.apps-info__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: calc(29 / 15 * 100%);
  letter-spacing: 0.03em;
  color: #8D96BD;
  margin-bottom: 47px;
}
.apps-info__img {
  width: 770px;
  position: relative;
  top: -60px;
  right: 3.13vw;
}
.apps-info__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  
}
.apps-info__button {
  width: 130.08px;
  min-height: 43px;
  justify-content: center;
  align-items: center;
  

  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  display: inline;
}
.apps-info__button_blue {
  padding: 13px 37.07px 0 25px;
  color: #fff;
  background: #4C85FF;
  box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px 0 0 2px;
  position: relative;
}

.apps-info__button_border {
  padding: 12px 27px;
  border:1px  solid #D1D1E4;
  color: #ADB4D2;
  border-radius: 0 2px 2px 0;
}
.mini_play{
  position: absolute;
  top: 17px;
  left: 99px;
}

@media(max-width:1440px){
  .apps-info__img {
    width: 53.47vw;
  }
  .main-block__apps-info{
    height: 1100px;
  }
}

@media(max-width:1280px){
  .apps-info__body {
    width: 1000px;
  }
  .apps-info__img {
    width: 70vw;
    position: relative;
    top: -60px;
    right:5.13vw;
  }
  .body__text-container{
    position: relative;
    top: -80px;
    left: 14vw;
    width: 500px;
    height: 352px;
    text-align: center;
  }
}

@media(max-width:850px){
  .apps-info__body {
    width: 600px;
  }
  .apps-info__img {
    width: 80vw;
    position: relative;
    top: -60px;
    right: 9.13vw;
  }
  .body__text-container{
    position: relative;
    top: -80px;
    left: 8vw;
    width: 500px;
    height: 352px;
    text-align: center;
  }
}

@media(max-width:640px){
  .apps-info__body {
    width: 600px;
  }
  .apps-info__img {
    width: 80vw;
    position: relative;
    top: -60px;
    right: 13.13vw;
  }
  .body__text-container{
    position: relative;
    top: -80px;
    left: 8vw;
    width: 350px;
    height: 352px;
    text-align: center;
  }
}

/*
@media(max-width:1250px) {
  .body__text-container{
    position: absolute;
    margin: 0 15vw;
    top: 90px;
    text-align: center;
    min-width: 28.68vw;
  }
  .apps-info__img {
    width: 700px;
    position: absolute;
    top: 465px;
    margin: 0 21.83vw;
  }
}*/
/*---------------------------------------------------------*/